mat-toolbar{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap:wrap;
    height:fit-content;
}
.second-row{
    display: flex;
    justify-content: center;
    width:100vw;
}
.logo-img{
    height:7vh;
}
.logo-img-second{
    height:10vh;
    margin-right:20px;
}
.secondary-container{
    text-align:center;
    font-size:larger;
}
.second-row-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second-row-info > h3{
    font-size:larger;
}