<nav>
  <mat-toolbar color="primary">
    <button mat-button class="first-container">
      <img src="../../assets/inject.png" class="logo-img" />
    </button>
    <a mat-button class="secondary-container">
      عيادة تجميل
    </a>
    <h3 class="third-container">
      Cosmetics@cosmo.Emad
    </h3>
  </mat-toolbar>
  <mat-toolbar class="second-row">
    <img src="../../assets/inject.png" class="logo-img-second"/>
    <div class="second-row-info">
      <h3 color="primary">عماد وحش الوحوش الكاسرة</h3>
      <h3 color="primary">سيد من عمل عملية تجميل بتركيا كلها</h3>
    </div>
  </mat-toolbar>
</nav>
